@use "../top/vars" as *;
@use "../top/tooltip";
@use "../top/linksvg";

:is(.vc-settings-theme-grid, .vc-plugins-grid) .vc-addon-card {
    position: relative;
    overflow: visible;

    .vc-addon-header {
        margin-bottom: 0;
    }

    // Description
    &:hover .vc-addon-note {
        visibility: visible;
    }
    .vc-addon-note {
        @include tooltip.full;
    }

    // Website / Discord links
    .vc-addon-note + div {
        position: absolute;
        right: calc($padding * 2 + $toggle);
        top: calc(50% - ($link / 2));
        font-size: 0;
        gap: 4px !important;
        flex-direction: row-reverse !important;

        a {
            width: $link;
            height: $link;
            @include linksvg.website;

            &[href*="discord.gg"] {
                @include linksvg.discord;
            }
        }
    }
}
